.header {
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}

.button {
    /*background-color: #4CAF50;*/
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 550;
}

.image {
    margin: 3px 2px;
}