.contents {
    padding: 5vw;
}

.content {
    display: flex;
    justify-content: center;
}

.Play1Img {
    border-radius: 5%;
    position: absolute;
    border:double 10px #ccc;
    transform: rotate(-10deg);
}

.Play2Img {
    border-radius: 5%;
    position: relative;
    border-collapse: separate;
    border:double 10px #ccc;
    transform: rotate(10deg);
}

.Title {
    margin-left: 8vw;
}